.ChatSectionWrapper {
    display: flex;
    flex-direction: column;
    background-color: #D7C7F4;
    background: linear-gradient(180deg, rgba(215, 199, 244, 0.2) 0%, rgba(151, 133, 186, 0.2) 100%);
    justify-content: space-between;
    gap: 100px;
    padding: 2px 5px 0;
}
/* .chatSection{
    
} */
.convoContainer{
    align-self: center;
}

.titleText {
    font-family: Ubuntu;
    font-size: 28px;
    font-weight: 700;
    line-height: 32.17px;
    text-align: left;
    color: #9785BA;
}

.greetingLogoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 4px;
}

.greeting {
    font-family: Ubuntu;
    font-size: 28px;
    font-weight: 500;
    line-height: 32.17px;
    text-align: center;
}

.botLogo {
    width: 65.3px;
    height: 69px;
    border-radius: 40px;
    background-image: url('../Assets/botLogo.png');
    box-shadow: 0px 4px 6px #000000;
}

.starterQuery {
    width: 1042px;
    height: 41px;
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
}

.query {
    width: 514px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 7px 7px 7px 4px;
    cursor: pointer;
    box-shadow: 0px 4px 2px #0000006e;

}

.queryTitle {
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 700;
    line-height: 22.98px;
    text-align: left;
    color: #000000;
}

.queryDefination {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    color: #00000080;
}

.inputAskSave {
    width: 1042px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2px;
    margin-bottom: 11px;
}

.inputBox {
    width: 846.09px;
    height: 41px;
    border-radius: 5px;
    border: 1px solid #00000073;
    background: #FFFFFF;
    padding-left: 4px;
}

.buttonContainer {
    background: #D7C7F4;
    width: 73.82px;
    height: 41px;
    border-radius: 5px;
    cursor: pointer;
}